[FontSize-10]  {font-size:  10%;}
[FontSize-25]  {font-size:  25%;}
[FontSize-50]  {font-size:  50%;}
[FontSize-75]  {font-size:  75%;}
[FontSize-100] {font-size: 100%;}
[FontSize-125] {font-size: 125%;}
[FontSize-150] {font-size: 150%;}
[FontSize-175] {font-size: 175%;}
[FontSize-200] {font-size: 200%;}
[FontSize-225] {font-size: 225%;}
[FontSize-250] {font-size: 250%;}