[pad-1]   {padding:  1%;}
[pad-2]   {padding:  2%;}
[pad-3]   {padding:  3%;}
[pad-4]   {padding:  4%;}
[pad-5]   {padding:  5%;}
[pad-6]   {padding:  6%;}
[pad-7]   {padding:  7%;}
[pad-8]   {padding:  8%;}
[pad-9]   {padding:  9%;}
[pad-10]  {padding: 10%;}
[pad-15]  {padding: 15%;}
[pad-20]  {padding: 20%;}
[pad-25]  {padding: 25%;}