[round-1]   {border-radius:   1%;}
[round-2]   {border-radius:   2%;}
[round-3]   {border-radius:   3%;}
[round-4]   {border-radius:   4%;}
[round-5]   {border-radius:   5%;}
[round-6]   {border-radius:   6%;}
[round-7]   {border-radius:   7%;}
[round-8]   {border-radius:   8%;}
[round-9]   {border-radius:   9%;}
[round-10]  {border-radius:  10%;}
[round-15]  {border-radius:  15%;}
[round-20]  {border-radius:  20%;}
[round-25]  {border-radius:  25%;}
[round-30]  {border-radius:  30%;}
[round-35]  {border-radius:  35%;}
[round-40]  {border-radius:  40%;}
[round-45]  {border-radius:  45%;}
[round-50]  {border-radius:  50%;}
[round-1vw]   {border-radius:   1vw;}
[round-2vw]   {border-radius:   2vw;}
[round-3vw]   {border-radius:   3vw;}
[round-4vw]   {border-radius:   4vw;}
[round-5vw]   {border-radius:   5vw;}
[round-6vw]   {border-radius:   6vw;}
[round-7vw]   {border-radius:   7vw;}
[round-8vw]   {border-radius:   8vw;}
[round-9vw]   {border-radius:   9vw;}
[round-10vw]  {border-radius:  10vw;}
[round-15vw]  {border-radius:  15vw;}
[round-20vw]  {border-radius:  20vw;}
[round-25vw]  {border-radius:  25vw;}
[round-30vw]  {border-radius:  30vw;}
[round-35vw]  {border-radius:  35vw;}
[round-40vw]  {border-radius:  40vw;}
[round-45vw]  {border-radius:  45vw;}
[round-50vw]  {border-radius:  50vw;}